.error-page body {
    background: #eee;
}

.error-page h1 {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 42px;
    color: #900;
}

.error-page h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #333;
}

.welcome body {
    background: #eee;
    color: #333;
    max-width: 700px;
    margin: auto;
}

.welcome h1 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    margin: 30px 0 22px 0;
}

.welcome .project-name {
    font-weight: bold;
}

.welcome .profiles {
    margin-top: 25px;
}

.welcome .profiles h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0;
    color: #333;
}

.welcome .profiles h3 {
    font-weight: normal;
    font-size: 19px;
    margin: 10px 0 3px 0;
}

.welcome .profiles p {
    font-size: 14px;
    margin: 8px 0 8px 0;
}

.welcome .profiles div {
    margin-left: 10px;
}

.welcome .profiles .unused {
    color: #bbb;
}

.welcome .profiles .unused h3 {
    font-weight: lighter;
    font-size: 15px;
}
