{{=<< >>=}}
{:duct.profile/base
 {:duct.core/project-ns <<namespace>><<#ataraxy?>>

  :duct.router/ataraxy
  {:routes {<<#example?>>[:get "/example"] [:<<namespace>>.handler/example]<</example?>>}}<</ataraxy?>><<#web?>><<^ataraxy?>><<#cascading-routes>>

  :duct.router/cascading<<&.>><</cascading-routes>><<^cascading-routes>>

  :duct.router/cascading []<</cascading-routes>><</ataraxy?>><</web?>><<#example?>>

  :<<namespace>>.<<#web?>>handler<</web?>><<^web?>>service<</web?>>/example<<^jdbc?>> {}<</jdbc?>><<#jdbc?>>
  {:db #ig/ref :duct.database/sql}<</jdbc?>><</example?>><<#profile-base>>
  <<&.>><</profile-base>>}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}<<#web?>><<^site?>><<^api?>>
 :duct.module/web {}<</api?>><</site?>><</web?>><<#modules>>
 <<&.>><</modules>>}
