{{=<< >>=}}
{<<#cljs?>>:components
 {:figwheel duct.component.figwheel/server}
 <</cljs?>>:config
 {:app
  {:middleware
   {:functions {:stacktrace ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found <<#site?>>:webjars <</site?>>:ring-defaults <<#site?>>:route-aliases <</site?>>:stacktrace]}}
  :http
  {:port 3000}<<#jdbc?>>
  :db
  {:uri "<<dev-database>>"}<</jdbc?>><<#cljs?>>
  :figwheel
  {:css-dirs ["resources/<<dirs>>/public/css"]
   :builds
   [{:source-paths ["src" "dev"]
     :build-options
     {:optimizations :none
      :main "cljs.user"
      :asset-path "/js"
      :output-to  "target/figwheel/<<dirs>>/public/js/main.js"
      :output-dir "target/figwheel/<<dirs>>/public/js"
      :source-map true
      :source-map-path "/js"}}]}<</cljs?>>}}
