{{=<< >>=}}
{:components
 {:app  duct.component.handler/handler-component
  :http ring.component.jetty/jetty-server<<#jdbc?>>
  :db   duct.component.hikaricp/hikaricp<</jdbc?>><<#ragtime?>>
  :ragtime duct.component.ragtime/ragtime<</ragtime?>>}
 :endpoints
 {<<#example?>>:example <<namespace>>.endpoint.example/example-endpoint<</example?>>}
 :dependencies
 {:http [:app]
  :app  [<<#example?>>:example<</example?>>]<<#ragtime?>>
  :ragtime [:db]<</ragtime?>><<#example?>>
  :example [<<#jdbc?>>:db<</jdbc?>>]<</example?>>}
 :config
 {:app
  {:middleware
   {:functions
    {:hide-errors   duct.middleware.errors/wrap-hide-errors
     :not-found     duct.middleware.not-found/wrap-not-found
     :ring-defaults ring.middleware.defaults/wrap-defaults<<#site?>>
     :route-aliases duct.middleware.route-aliases/wrap-route-aliases
     :webjars       ring.middleware.webjars/wrap-webjars<</site?>>}
    :applied
    [:not-found <<#site?>>:webjars <</site?>>:ring-defaults <<#site?>>:route-aliases <</site?>>:hide-errors]
    :arguments
    {:not-found   <<^site?>>"Resource Not Found"<</site?>><<#site?>>  #resource "<<dirs>>/errors/404.html"<</site?>>
     :hide-errors <<^site?>>"Internal Server Error"<</site?>><<#site?>>  #resource "<<dirs>>/errors/500.html"
     :route-aliases {"/" "/index.html"}<</site?>>
     :ring-defaults
     {:params    {:urlencoded true
                  :keywordize true<<#site?>>
                  :multipart  true
                  :nested     true<</site?>>}<<#site?>>
      :cookies   true
      :session   {:flash true
                  :cookie-attrs {:http-only true}}
      :security  {:anti-forgery   true
                  :xss-protection {:enable? true, :mode :block}
                  :frame-options  :sameorigin
                  :content-type-options :nosniff}
      :static    {:resources "<<dirs>>/public"}<</site?>>
      :responses {:not-modified-responses true
                  :absolute-redirects     true
                  :content-types          true
                  :default-charset        "utf-8"}}}}}
  :http
  {:port http-port}<<#jdbc?>>
  :db
  {:uri db-uri}<</jdbc?>>}}
