.error-page body {
    background: #eee;
}

.error-page h1 {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 42px;
    color: #900;
}

.error-page h2 {
    text-align: center;
    font-size: 31px;
    font-weight: normal;
    color: #333;
}